In [1]:
import pandas as pd
import numpy as np

### Journals year 13,14

In [6]:
j14 = pd.read_excel(r'C:\Users\Stefan Kostelecky\Documents\FHWN\2. Semester\CaseStudy1\LV_CaseStudy1_DemoDaten\ABC 2014 JEs.xlsx',
                  sheet_name='2014')
j13 = pd.read_excel(r'C:\Users\Stefan Kostelecky\Documents\FHWN\2. Semester\CaseStudy1\LV_CaseStudy1_DemoDaten\ABC 2013 JEs.xlsx',
                  sheet_name='2013')

In [66]:
j13.head()

,JE number,JE line number,GL account code,Fiscal year,Fiscal period,Effective date,Entry date,Source code,Source,Source group,Functional_Amount_13,GL account code.1,GL account name,Account type,Account sub type,Account class,type_statement
0,2013-0001-0210000003,1,60000001,2013,1,2013-01-18,2013-01-21,FP,FP-Invoice promotion,Purchases,-84700.00,60000001,Payables - customer promotions,Liabilities,Current liabilities,Payables,0
1,2013-0001-0210000003,2,60000113,2013,1,2013-01-18,2013-01-21,FP,FP-Invoice promotion,Purchases,70000.00,60000113,Invoices to be received last year,Liabilities,Current liabilities,Payables,0
2,2013-0001-0210000003,3,20001102,2013,1,2013-01-18,2013-01-21,FP,FP-Invoice promotion,Purchases,14700.00,20001102,VAT purchases 1,Assets,Current assets,Receivables,0
3,2013-0001-0210000006,1,60000001,2013,1,2013-01-18,2013-01-21,FP,FP-Invoice promotion,Purchases,-3274.26,60000001,Payables - customer promotions,Liabilities,Current liabilities,Payables,0
4,2013-0001-0210000006,2,60000112,2013,1,2013-01-18,2013-01-21,FP,FP-Invoice promotion,Purchases,2706.00,60000112,Invoices to receive promotional last year,Liabilities,Current liabilities,Payables,0

In [525]:
j14.head()

,JE number,JE line number,GL account code,Fiscal year,Fiscal period,Effective date,Entry date,Source code,Source,Source group,Functional_Amount_14,GL account code.1,GL account name,Account type,Account sub type,Account class,type_statement
0,2014-0001-0210000003,1,60000001,2014,1,2014-01-22,2014-01-22,FP,FP-Invoice promotion,Purchases,-148808.80,60000001,Payables - customer promotions,Liabilities,Current liabilities,Payables,balance_statement
1,2014-0001-0210000003,2,60000112,2014,1,2014-01-22,2014-01-22,FP,FP-Invoice promotion,Purchases,4488.22,60000112,Invoices to receive promotional last year,Liabilities,Current liabilities,Payables,balance_statement
2,2014-0001-0210000003,3,60000112,2014,1,2014-01-22,2014-01-22,FP,FP-Invoice promotion,Purchases,5280.28,60000112,Invoices to receive promotional last year,Liabilities,Current liabilities,Payables,balance_statement
3,2014-0001-0210000003,4,60000112,2014,1,2014-01-22,2014-01-22,FP,FP-Invoice promotion,Purchases,102437.40,60000112,Invoices to receive promotional last year,Liabilities,Current liabilities,Payables,balance_statement
4,2014-0001-0210000003,5,60000112,2014,1,2014-01-22,2014-01-22,FP,FP-Invoice promotion,Purchases,4488.24,60000112,Invoices to receive promotional last year,Liabilities,Current liabilities,Payables,balance_statement

### totalBalances year 13,14

In [216]:
tb13 = pd.read_excel(r'C:\Users\Stefan Kostelecky\Documents\FHWN\2. Semester\CaseStudy1\LV_CaseStudy1_DemoDaten\ABC TB and CoA.xlsx',
             sheet_name='ABC TB 2013')
tb14 = pd.read_excel(r'C:\Users\Stefan Kostelecky\Documents\FHWN\2. Semester\CaseStudy1\LV_CaseStudy1_DemoDaten\ABC TB and CoA.xlsx',
             sheet_name='ABC TB 2014')

In [217]:
tb13.head()

,GL account code,GL account name,Account type,Account sub type,Account class,Account sub class,Functional opening balance,Functional closing balance,Business unit code,Business unit,Trial balance start date,Trial balance end date,Fiscal year,Fiscal period,Functional currency code
0,20000050,Customer invoices to be issued,Assets,Current assets,Receivables,Trade receivables,5416.00,114226.00,1,ABC Company,2013-01-01,2013-12-31,2013,13,EUR
1,20000051,Credit notes to be issued,Assets,Current assets,Receivables,Trade receivables,0.00,0.00,1,ABC Company,2013-01-01,2013-12-31,2013,13,EUR
2,20000000,Receivables - domestic customer,Assets,Current assets,Receivables,Trade receivables,58638227.08,57451732.18,1,ABC Company,2013-01-01,2013-12-31,2013,13,EUR
3,20000021,Receivables - in receivership,Assets,Current assets,Receivables,Trade receivables,0.00,2904.00,1,ABC Company,2013-01-01,2013-12-31,2013,13,EUR
4,20000002,Receivables - customers other sales,Assets,Current assets,Receivables,Trade receivables,740147.12,525066.20,1,ABC Company,2013-01-01,2013-12-31,2013,13,EUR

In [218]:
tb14.head()

,GL account code,GL account name,Account type,Account sub type,Account class,Account sub class,Functional opening balance,Functional closing balance,Business unit code,Business unit,Trial balance start date,Trial balance end date,Fiscal year,Fiscal period,Functional currency code
0,20000050,Customer invoices to be issued,Assets,Current assets,Receivables,Trade receivables,114226.00,57354.48,1,ABC Company,2014-01-01,2014-12-31,2014,13,EUR
1,20000051,Credit notes to be issued,Assets,Current assets,Receivables,Trade receivables,0.00,-4627.64,1,ABC Company,2014-01-01,2014-12-31,2014,13,EUR
2,20000000,Receivables - domestic customer,Assets,Current assets,Receivables,Trade receivables,57451732.18,43878758.58,1,ABC Company,2014-01-01,2014-12-31,2014,13,EUR
3,20000021,Receivables - in receivership,Assets,Current assets,Receivables,Trade receivables,2904.00,2178.00,1,ABC Company,2014-01-01,2014-12-31,2014,13,EUR
4,20000002,Receivables - customers other sales,Assets,Current assets,Receivables,Trade receivables,525066.20,394025.48,1,ABC Company,2014-01-01,2014-12-31,2014,13,EUR

In [83]:
j14['Source group'].unique()

array(['Purchases', 'Sales adjustments', 'Fixed assets', 'Transfers',
       'Source group 1', 'Receivables adj', 'GL document', 'Wages',
       'Accruals', 'Sales accruals', 'Cash in', 'Cash out', 'Sales',
       'Sales manual', 'Goods receipts'], dtype=object)

In [64]:
j13['Account type'].unique()

array(['Liabilities', 'Assets', 'Expenses', 'Revenue', 'Equity'],
      dtype=object)

In [68]:
j13['type_statement'] = np.where((j13['Account type'] == "Revenue") |(j13['Account type'] == "Expenses")\
                                 ,'income_statement','balance_statement')
j14['type_statement'] = np.where((j14['Account type'] == "Revenue") |(j14['Account type'] == "Expenses")\
                                 ,'income_statement','balance_statement')

In [69]:
j14.rename(columns={'Functional amount':'Functional_Amount_14'},inplace=True)
j13.rename(columns={'Functional amount':'Functional_Amount_13'},inplace=True)

In [85]:
j14_grouped = j14.groupby(['Source','Source group','type_statement','Account type','Account sub type','Account class','GL account name','GL account code'])\
.agg({'Functional_Amount_14':sum})

j13_grouped = j13.groupby(['Source','Source group','type_statement','Account type','Account sub type','Account class','GL account name','GL account code'])\
.agg({'Functional_Amount_13':sum})

In [86]:
j13_14_grouped = j13_grouped.join(j14_grouped).fillna({'Functional_Amount_13':0,'Functional_Amount_14':0})

In [87]:
data = j13_14_grouped.round(2)

In [77]:
data.to_csv('statements.csv')

In [89]:
data.reset_index().to_excel('statements.xlsx',index=None, sheet_name='data')

In [92]:
data.head(10)

                                                                                                                                                          Functional_Amount_13  \
Source           Source group type_statement    Account type Account sub type   Account class     GL account name                        GL account code
AA-Asset posting Fixed assets balance_statement Assets       Non Current assets Intangible assets Amortization of deferred charges       40106005                        -0.00
                                                                                                  Brands                                 40100100                     64834.98
                                                                                                  Deferred charges                       40106000                     90705.28
                                                                                                  Intangible assets in progress          40107000                   -220190.30
                                                                                                  Other intangible assets 2              40102107                    -40744.82
                                                                                                  Other intangible assets Amortization 2 40102207                     40744.82
                                                                                                  Patents                                40100101                     64650.04
                                                                                                  Software                               40102300                    -88004.40
                                                                                                  Sortware Amortization                  40102305                     88004.40
                                                                                Tangible assets   Accumulated depreciation equipment     40008005                      1322.12

                                                                                                                                                          Functional_Amount_14
Source           Source group type_statement    Account type Account sub type   Account class     GL account name                        GL account code
AA-Asset posting Fixed assets balance_statement Assets       Non Current assets Intangible assets Amortization of deferred charges       40106005                         0.00
                                                                                                  Brands                                 40100100                  13846299.20
                                                                                                  Deferred charges                       40106000                         0.00
                                                                                                  Intangible assets in progress          40107000                 -23536592.46
                                                                                                  Other intangible assets 2              40102107                         0.00
                                                                                                  Other intangible assets Amortization 2 40102207                         0.00
                                                                                                  Patents                                40100101                   9690293.26
                                                                                                  Software                               40102300                         0.00
                                                                                                  Sortware Amortization                  40102305                         0.00
                                                                                Tangible assets   Accumulated depreciation equipment     40008005                     12777.16

### Key Indicators - Ertragslage

In [113]:
data.reset_index(inplace=True)

In [114]:
data.head()

,Source,Source group,type_statement,Account type,Account sub type,Account class,GL account name,GL account code,Functional_Amount_13,Functional_Amount_14
0,AA-Asset posting,Fixed assets,balance_statement,Assets,Non Current assets,Intangible assets,Amortization of deferred charges,40106005,-0.00,0.00
1,AA-Asset posting,Fixed assets,balance_statement,Assets,Non Current assets,Intangible assets,Brands,40100100,64834.98,13846299.20
2,AA-Asset posting,Fixed assets,balance_statement,Assets,Non Current assets,Intangible assets,Deferred charges,40106000,90705.28,0.00
3,AA-Asset posting,Fixed assets,balance_statement,Assets,Non Current assets,Intangible assets,Intangible assets in progress,40107000,-220190.30,-23536592.46
4,AA-Asset posting,Fixed assets,balance_statement,Assets,Non Current assets,Intangible assets,Other intangible assets 2,40102107,-40744.82,0.00

In [158]:
tb13.head()

,GL account code,Account type,Account class,Functional opening balance,Functional closing balance,Business unit code,Business unit,Trial balance start date,Trial balance end date,Fiscal year,Fiscal period,Functional currency code
0,20000050,Assets,Receivables,5416.00,114226.00,1,ABC Company,2013-01-01,2013-12-31,2013,13,EUR
1,20000051,Assets,Receivables,0.00,0.00,1,ABC Company,2013-01-01,2013-12-31,2013,13,EUR
2,20000000,Assets,Receivables,58638227.08,57451732.18,1,ABC Company,2013-01-01,2013-12-31,2013,13,EUR
3,20000021,Assets,Receivables,0.00,2904.00,1,ABC Company,2013-01-01,2013-12-31,2013,13,EUR
4,20000002,Assets,Receivables,740147.12,525066.20,1,ABC Company,2013-01-01,2013-12-31,2013,13,EUR

#### Sales / Umsatzerlöse:

In [127]:
# Verkaufserlöse:
sales13 = data[data['Account sub type']=='Sales']['Functional_Amount_13'].sum()
sales14 = data[data['Account sub type']=='Sales']['Functional_Amount_14'].sum()

In [333]:
print("Sales13: ""{:,.2f}".format(sales13*-1), "Sales14: ""{:,.2f}".format(sales14*-1))

Sales13: 469,607,743.16 Sales14: 469,371,937.34

#### EBIT - Earnings before Interest and Taxes:

In [143]:
#EBIT - Earnings before interest and taxes
ebit13 = data[(data['type_statement']=='income_statement') & (data['Account sub type']!='Taxes') &\
     (data['Account sub type']!='Financial charges')]['Functional_Amount_13'].sum()
ebit14 = data[(data['type_statement']=='income_statement') & (data['Account sub type']!='Taxes') &\
     (data['Account sub type']!='Financial charges')]['Functional_Amount_14'].sum()

In [332]:
print("EBIT13: ""{:,.2f}".format(ebit13*-1), "EBIT14: ""{:,.2f}".format(ebit14*-1))

EBIT13: 62,881,181.60 EBIT14: 98,519,430.06

In [147]:
def return_indicator(gewinn,X):
    ratio = ( gewinn / X ) * 100
    return ratio

#### Return on Sales / Umsatzrendite:

In [149]:
#Return on Sales (ROS)
return_indicator(ebit13,sales13), return_indicator(ebit14,sales14)

(13.390150080761288, 20.989629379703487)

In [338]:
print("ROS13: ""{:.2f}%".format(return_indicator(ebit13,sales13)),\
     "ROS14: ""{:.2f}%".format(return_indicator(ebit14,sales14)))

ROS13: 13.39% ROS14: 20.99%

In [192]:
#Income of total balance before taxes
income14 = tb14[((tb14['Account type']=='Expenses') & (tb14['Account class']!='Current taxes '))\
    | (tb14['Account type']=='Revenue')]['Functional closing balance'].sum()

income13 = tb13[((tb13['Account type']=='Expenses') & (tb13['Account class']!='Current taxes '))\
    | (tb13['Account type']=='Revenue')]['Functional closing balance'].sum()

#### Return on Equity

In [201]:
# Eigenkaptial
ek14 = tb14[(tb14['Account type']=='Equity')]['Functional closing balance'].sum() + income14
ek13 = tb13[(tb13['Account type']=='Equity')]['Functional closing balance'].sum() + income13

In [340]:
print('Eigenkapital')
print("EK13: ""{:,.2f}".format(ek13*-1), "EK14: ""{:,.2f}".format(ek14*-1))

Eigenkapital
EK13: 250,237,910.98 EK14: 220,346,575.68

In [352]:
#Return on equity (ROE):
print('Return on Equity')
print("ROE13: ""{:,.2f}%".format(return_indicator(income13,ek13)), \
      "ROE14: ""{:,.2f}%".format(return_indicator(income14,ek14)))

Return on Equity
ROE13: 24.36% ROE14: 29.58%

#### Return on Investment (ROI):

In [209]:
# Gesamtkapital:
gk14 = tb14[tb14['Account type']=='Assets']['Functional closing balance'].sum()
gk13 = tb13[tb13['Account type']=='Assets']['Functional closing balance'].sum()

In [351]:
print('Gesamtkaptial:')
print("GK13: ""{:,.2f}".format(gk13), "GK14: ""{:,.2f}".format(gk14))
print('')
print('EBIT:')
print("EBIT13: ""{:,.2f}".format(ebit13*-1), "EBIT14: ""{:,.2f}".format(ebit14*-1))

Gesamtkaptial:
GK13: 370,991,864.70 GK14: 336,097,347.74

EBIT:
EBIT13: 62,881,181.60 EBIT14: 98,519,430.06

In [212]:
#Return on Investment(ROI):
return_indicator(ebit13*-1,gk13), return_indicator(ebit14*-1,gk14)

(16.949477221245385, 29.312766293000685)

In [353]:
print('Return on Investment')
print("ROI13: ""{:,.2f}%".format(return_indicator(ebit13*-1,gk13)), \
      "ROI14: ""{:,.2f}%".format(return_indicator(ebit14*-1,gk14)))

Return on Investment
ROI13: 16.95% ROI14: 29.31%

### Key Indicators - Vermögens und Finanzlage

In [229]:
# FK Langfristig

fk_lang13 = tb13[tb13['Account sub type']=='Non current liabilities']['Functional closing balance'].sum()
fk_lang14 = tb14[tb14['Account sub type']=='Non current liabilities']['Functional closing balance'].sum()

In [230]:
fk_lang13,fk_lang14

(-10042940.819999998, -11228364.2)

In [302]:
# FK Kurzfristig

fk_short13 = tb13[tb13['Account sub type']=='Current liabilities']['Functional closing balance'].sum()
fk_short14 = tb14[tb14['Account sub type']=='Current liabilities']['Functional closing balance'].sum()

In [303]:
fk_short13,fk_short14

(-129773570.9, -126009309.86)

#### Nettoverschuldung / Net-debt:

In [301]:
# Nettoverschuldung (Net-Debt)
# kurzfristige VBDL abzüglich Cashbestand

cash13 = tb13[tb13['Account class'] == 'Cash and cash equivalents']['Functional closing balance'].sum()
cash14 = tb14[tb14['Account class'] == 'Cash and cash equivalents']['Functional closing balance'].sum()

In [306]:
net_debt13 = fk_short13*-1 - cash13
net_debt14 = fk_short14*-1 - cash14

In [359]:
print('kurzfristige Verbindlichkeiten:')
print("FKshort13: ""{:,.2f}".format(fk_short13*-1), "FKshort14: ""{:,.2f}".format(fk_short14*-1))
print('')
print('Cash-Bestand:')
print("Cash13: ""{:,.2f}".format(cash13), "Cash14: ""{:,.2f}".format(cash14))
print('')
print('Nettoverschuldung:')
print("Net-Debt13: ""{:,.2f}".format(net_debt13), "Net-Debt14: ""{:,.2f}".format(net_debt14))

kurzfristige Verbindlichkeiten:
FKshort13: 129,773,570.90 FKshort14: 126,009,309.86

Cash-Bestand:
Cash13: 80,477,704.22 Cash14: 35,182,375.26

Nettoverschuldung:
Net-Debt13: 49,295,866.68 Net-Debt14: 90,826,934.60

In [307]:
net_debt13,net_debt14

(49295866.68000001, 90826934.6)

#### Nettoverschuldungsgrad / Gearing:

In [310]:
# Gearing / ratio-Net-debt:

gear13 = return_indicator(net_debt13,ek13*-1)
gear14 = return_indicator(net_debt14,ek14*-1)

In [311]:
gear13,gear14

(19.69959966774974, 41.220034538637016)

In [366]:
print("EK13: ""{:,.2f}".format(ek13*-1), "EK14: ""{:,.2f}".format(ek14*-1))
print('')
print("Net-Debt13: ""{:,.2f}".format(net_debt13), "Net-Debt14: ""{:,.2f}".format(net_debt14))
print('')
print("Gearing13: ""{:,.2f}%".format(gear13), "Gearing14: ""{:,.2f}%".format(gear14))

EK13: 250,237,910.98 EK14: 220,346,575.68

Net-Debt13: 49,295,866.68 Net-Debt14: 90,826,934.60

Gearing13: 19.70% Gearing14: 41.22%

In [238]:
# Verschuldungsgrad (debt-Ratio):
# Fremdkaptial zu Eigenkapital
ek13,ek14,gk13,gk14

(-250237910.9800002, -220346575.68000013, 370991864.7, 336097347.74)

In [240]:
debt_ratio13 = return_indicator((gk13-ek13*-1),ek13*-1)
debt_ratio14 = return_indicator((gk14-ek14*-1),ek14*-1)

In [241]:
debt_ratio13,debt_ratio14

(48.25565928323739, 52.53123253800857)

#### Kapitalquoten:

#### Fremdkaptialquote

In [242]:
#Fremdkapitalquote
# FK zu GK
fk_ratio13 = return_indicator((gk13-ek13*-1),gk13)
fk_ratio14 = return_indicator((gk14-ek14*-1),gk14)

In [453]:

print("FK-Quote13: ""{:,.2f}%".format(fk_ratio13), "FK-Quote14: ""{:,.2f}%".format(fk_ratio14))

FK-Quote13: 32.55% FK-Quote14: 34.44%

#### Eigenkaptialquote

In [245]:
#Eigenkapitalquote
# EK zu GK
ek_ratio13 = return_indicator(ek13*-1,gk13)
ek_ratio14 = return_indicator(ek14*-1,gk14)

In [371]:
print("EK-Quote13: ""{:,.2f}%".format(ek_ratio13), "EK-Quote14: ""{:,.2f}%".format(ek_ratio14))

EK-Quote13: 67.45% EK-Quote14: 65.56%

#### Anlagendeckungsgrad

In [252]:
#Anlagendeckungsgrad1
#Eigenkapital zu Anlagevermögen

av13 = tb13[tb13['Account sub type']=="Non Current assets"]['Functional closing balance'].sum() # AV 13
av14 = tb14[tb14['Account sub type']=="Non Current assets"]['Functional closing balance'].sum() # AV 14
anlgraad13 = return_indicator(ek13*-1,av13)
anlgraad14 = return_indicator(ek14*-1,av14)

In [457]:
print("EK13: ""{:,.2f}".format(ek13*-1), "EK14: ""{:,.2f}".format(ek14*-1))
print("AV13: ""{:,.2f}".format(av13), "AV14: ""{:,.2f}".format(av14))
print('')
print('Anlagendeckungsgrad%:')
print("AnlagenGrad13: ""{:,.2f}%".format(anlgraad13), "AnlagenGrad14: ""{:,.2f}%".format(anlgraad14))

EK13: 250,237,910.98 EK14: 220,346,575.68
AV13: 158,122,213.42 AV14: 185,387,014.46

Anlagendeckungsgrad%:
AnlagenGrad13: 158.26% AnlagenGrad14: 118.86%

#### Anlagenintensität

In [254]:
#Anlagenintensität
#Anlagevermögen zu Gesamtvermögen
avinten13 = return_indicator(av13,gk13)
avinten14 = return_indicator(av14,gk14)

In [459]:
print("GK13: ""{:,.2f}".format(gk13), "GK14: ""{:,.2f}".format(gk14))
print("AV13: ""{:,.2f}".format(av13), "AV14: ""{:,.2f}".format(av14))
print('')
print('Anlagenintensität%:')
print("AnlagenIntensität13: ""{:,.2f}%".format(avinten13), "AnlagenIntensität14: ""{:,.2f}%".format(avinten14))

GK13: 370,991,864.70 GK14: 336,097,347.74
AV13: 158,122,213.42 AV14: 185,387,014.46

Anlagenintensität%:
AnlagenIntensität13: 42.62% AnlagenIntensität14: 55.16%

#### Umlaufvermögensintensität

In [256]:
#Umlagevermögenintensität
#Umlaufvermögen zu Gesamtvermögen
uvinten13 = return_indicator((gk13 - av13),gk13)
uvinten14 = return_indicator((gk14 - av14),gk14)

In [462]:
print('Umlauf Intensität:')
print("UVIntensität13: ""{:,.2f}%".format(uvinten13), "UVIntensität14: ""{:,.2f}%".format(uvinten14))

Umlauf Intensität:
UVIntensität13: 57.38% UVIntensität14: 44.84%

##### Vorratsintensität

In [262]:
#Vorratsintensität
#Vorräte zu Gesamtvermögen

invent13 = tb13[tb13['Account class'] == 'Inventory']['Functional closing balance'].sum()
invent14 = tb14[tb14['Account class'] == 'Inventory']['Functional closing balance'].sum()

vor13 = return_indicator(invent13,gk13)
vor14 = return_indicator(invent14,gk14)

In [461]:
print("VorratsIntensität13: ""{:,.2f}%".format(vor13), "VorratsIntensität14: ""{:,.2f}%".format(vor14))

VorratsIntensität13: 8.76% VorratsIntensität14: 9.49%

In [264]:
def mean(data):
    n = len(data)
    mean = sum(data) / n
    return mean

#### Umschlagshäufigkeit

In [279]:
# Umschlagshäufigkeit der Kunden
#Umatzerlöse zu durchschnittl. Forderungen als L+L


#Forderungen Total Balance Openging / Closing:
receivable13_cl = tb13[tb13['Account class']=='Receivables']['Functional closing balance'].sum()
receivable13_op = tb13[tb13['Account class']=='Receivables']['Functional opening balance'].sum()

receivable14_cl = tb14[tb14['Account class']=='Receivables']['Functional closing balance'].sum()
receivable14_op = tb14[tb14['Account class']=='Receivables']['Functional opening balance'].sum()

recei13_mean = mean((receivable13_op,receivable13_cl))
recei14_mean = mean((receivable14_op,receivable14_cl))

In [292]:
uh13 = return_indicator(sales13*-1,recei13_mean) / 100
uh14 = return_indicator(sales14*-1,recei14_mean) / 100

In [463]:
print("UH_13: ""{:,.2f}%".format(uh13), "UH_14: ""{:,.2f}%".format(uh14))

UH_13: 4.76% UH_14: 5.12%

#### Umschlagsdauer

In [296]:
# Umschlagsdauer
uh13_dauer = 365 / uh13
uh14_dauer = 365 / uh14

In [468]:
print("UH-Dauer_13: ""{:.0f} Tage ".format(uh13_dauer), "UH-Dauer_14: ""{:,.0f} Tage".format(uh14_dauer))

UH-Dauer_13: 77 Tage  UH-Dauer_14: 71 Tage

#### Check Saldenliste mit Buchungsjournal

In [374]:
tb13.head()

,GL account code,GL account name,Account type,Account sub type,Account class,Account sub class,Functional opening balance,Functional closing balance,Business unit code,Business unit,Trial balance start date,Trial balance end date,Fiscal year,Fiscal period,Functional currency code
0,20000050,Customer invoices to be issued,Assets,Current assets,Receivables,Trade receivables,5416.00,114226.00,1,ABC Company,2013-01-01,2013-12-31,2013,13,EUR
1,20000051,Credit notes to be issued,Assets,Current assets,Receivables,Trade receivables,0.00,0.00,1,ABC Company,2013-01-01,2013-12-31,2013,13,EUR
2,20000000,Receivables - domestic customer,Assets,Current assets,Receivables,Trade receivables,58638227.08,57451732.18,1,ABC Company,2013-01-01,2013-12-31,2013,13,EUR
3,20000021,Receivables - in receivership,Assets,Current assets,Receivables,Trade receivables,0.00,2904.00,1,ABC Company,2013-01-01,2013-12-31,2013,13,EUR
4,20000002,Receivables - customers other sales,Assets,Current assets,Receivables,Trade receivables,740147.12,525066.20,1,ABC Company,2013-01-01,2013-12-31,2013,13,EUR

In [380]:
# Total Balance opening - closing Balance
tb_check_jour_13 = tb13[['GL account code','GL account name','Account type',
      'Functional opening balance','Functional closing balance']].rename(columns={'Functional opening balance': 'opening_balance_13',
                                                                                 'Functional closing balance': 'closing_balance_13'})

tb_check_jour_14 = tb14[['GL account code','GL account name','Account type',
      'Functional opening balance','Functional closing balance']].rename(columns={'Functional opening balance': 'opening_balance_14',
                                                                                 'Functional closing balance': 'closing_balance_14'})

In [382]:
def return_difference(X,Y):
    return X - Y

In [384]:
tb_check_jour_13['Delta_balance'] = return_difference(tb_check_jour_13.opening_balance_13,tb_check_jour_13.closing_balance_13)
tb_check_jour_14['Delta_balance'] = return_difference(tb_check_jour_14.opening_balance_14,tb_check_jour_14.closing_balance_14)

In [385]:
tb_check_jour_14.head()

,GL account code,GL account name,Account type,opening_balance_14,closing_balance_14,Delta_balance
0,20000050,Customer invoices to be issued,Assets,114226.00,57354.48,56871.52
1,20000051,Credit notes to be issued,Assets,0.00,-4627.64,4627.64
2,20000000,Receivables - domestic customer,Assets,57451732.18,43878758.58,13572973.60
3,20000021,Receivables - in receivership,Assets,2904.00,2178.00,726.00
4,20000002,Receivables - customers other sales,Assets,525066.20,394025.48,131040.72

In [393]:
tb_check_jour_13[tb_check_jour_13['GL account code']==20000000]

,GL account code,GL account name,Account type,opening_balance_13,closing_balance_13,Delta_balance
2,20000000,Receivables - domestic customer,Assets,58638227.08,57451732.18,1186494.9

In [387]:
j13.head()

,JE number,JE line number,GL account code,Fiscal year,Fiscal period,Effective date,Entry date,Source code,Source,Source group,Functional_Amount_13,GL account code.1,GL account name,Account type,Account sub type,Account class,type_statement
0,2013-0001-0210000003,1,60000001,2013,1,2013-01-18,2013-01-21,FP,FP-Invoice promotion,Purchases,-84700.00,60000001,Payables - customer promotions,Liabilities,Current liabilities,Payables,balance_statement
1,2013-0001-0210000003,2,60000113,2013,1,2013-01-18,2013-01-21,FP,FP-Invoice promotion,Purchases,70000.00,60000113,Invoices to be received last year,Liabilities,Current liabilities,Payables,balance_statement
2,2013-0001-0210000003,3,20001102,2013,1,2013-01-18,2013-01-21,FP,FP-Invoice promotion,Purchases,14700.00,20001102,VAT purchases 1,Assets,Current assets,Receivables,balance_statement
3,2013-0001-0210000006,1,60000001,2013,1,2013-01-18,2013-01-21,FP,FP-Invoice promotion,Purchases,-3274.26,60000001,Payables - customer promotions,Liabilities,Current liabilities,Payables,balance_statement
4,2013-0001-0210000006,2,60000112,2013,1,2013-01-18,2013-01-21,FP,FP-Invoice promotion,Purchases,2706.00,60000112,Invoices to receive promotional last year,Liabilities,Current liabilities,Payables,balance_statement

In [394]:
# Journals grouped by GL Code
j13_grouped_byGLCode = j13[['GL account code','GL account name','Account type','Functional_Amount_13']].groupby(['GL account code',
                                                                                         'GL account name','Account type']).sum()

j14_grouped_byGLCode = j14[['GL account code','GL account name','Account type','Functional_Amount_14']].groupby(['GL account code',
                                                                                         'GL account name','Account type']).sum()

In [422]:
#Join table Total Balance grouped on Journal
tb_check_jour14 = tb_check_jour_14.groupby(['GL account code','GL account name','Account type']).sum().join(j14_grouped_byGLCode).round()

tb_check_jour13 = tb_check_jour_13.groupby(['GL account code','GL account name','Account type']).sum().join(j13_grouped_byGLCode).round()

In [425]:
tb_check_jour13.reset_index(inplace=True)
tb_check_jour14.reset_index(inplace=True)

In [426]:
# check on Differences among cols: Detla_balance and Functional_Amount
tb_check_jour13['Delta_to_journal_yn'] = return_difference(tb_check_jour13.Delta_balance*-1,tb_check_jour13.Functional_Amount_13)
tb_check_jour14['Delta_to_journal_yn'] = return_difference(tb_check_jour14.Delta_balance*-1,tb_check_jour14.Functional_Amount_14)

In [428]:
tb_check_jour13.head()

,GL account code,GL account name,Account type,opening_balance_13,closing_balance_13,Delta_balance,Functional_Amount_13,Delta_to_journal_yn
0,20000000,Receivables - domestic customer,Assets,58638227.0,57451732.0,1186495.0,-1186495.0,0.0
1,20000002,Receivables - customers other sales,Assets,740147.0,525066.0,215081.0,-215081.0,0.0
2,20000003,Receivables - related domestic,Assets,2810250.0,2492425.0,317825.0,-317825.0,0.0
3,20000004,Receivables - foreign customers 1,Assets,1233777.0,1179161.0,54616.0,-54616.0,0.0
4,20000005,Receivables - foreign customers 2,Assets,535682.0,588612.0,-52930.0,52930.0,0.0

In [437]:
#Check Saldenliste mit Buchungsjournal:

check_j13 = tb_check_jour13.groupby(['Account type']).agg({'GL account code':'count','opening_balance_13':sum,
                                              'closing_balance_13':sum,'Delta_balance':sum,'Functional_Amount_13':sum,'Delta_to_journal_yn':sum}).rename(columns={'GL account code':'GL account code counts'})

check_j14 = tb_check_jour14.groupby(['Account type']).agg({'GL account code':'count','opening_balance_14':sum,
                                              'closing_balance_14':sum,'Delta_balance':sum,'Functional_Amount_14':sum,'Delta_to_journal_yn':sum}).rename(columns={'GL account code':'GL account code counts'})

In [443]:
def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    color = 'red' if val < 0 else 'black'
    return 'color: %s' % color

In [448]:
check_j13.style.format("{:,.2f}").applymap(color_negative_red)

In [449]:
check_j14.style.format("{:,.2f}").applymap(color_negative_red)

#### Zuammenfassung

In [514]:
table_ges = [('Eigenkaptial', ek13*-1, ek14*-1), 
            ('Fremdkaptial', (gk13-ek13*-1), (gk14-ek14*-1)), 
            ('Anlagevermögen', av13, av14),
             ('Umlaufvermögen', (gk13-av13), (gk14 - av14))]

In [515]:
table_ges

[('Eigenkaptial', 250237910.9800002, 220346575.68000013),
 ('Fremdkaptial', 120753953.71999979, 115750772.05999988),
 ('Anlagevermögen', 158122213.42000002, 185387014.46),
 ('Umlaufvermögen', 212869651.27999997, 150710333.28)]

In [516]:
# create DataFrame using data 
ges = pd.DataFrame(table_ges, columns =['Key_Indicator', 'Year_13', 'Year_14'])

In [524]:
ges.groupby(['Key_Indicator']).sum().style.format("{:,.2f}").applymap(color_negative_red)